{% extends "header.html" %}

{% block body %}

<div class="row">
    {% for datasource in datasources %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>{{ datasource.name }}</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>
                <a href="{{'/datasources/' + datasource.name + '/scrape/'}}" class="btn btn-primary" role="button">
                    {% if datasource.name in datasourcesBeingScraped %}
                        Stop Scraping...
                    {% else %}
                        Scrape...
                    {% endif %}</a>
                <a href="{{'/datasources/' + datasource.name + '/identifiers/'}}" class="btn btn-default" role="button">View Identifiers</a>
                <a href="{{'/datasources/' + datasource.name + '/addIdentifier/'}}" class="btn btn-default" role="button">Add identifier</a></p>
          </div>
        </div>
      </div>
    {% endfor %}
</div>


{% endblock %}